<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zotero-local-rag.nightly</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_ROOT__/scripts/nightly_summaries.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>1</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>StandardOutPath</key>
  <string>__PROJECT_ROOT__/data/nightly_launchd.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_ROOT__/data/nightly_launchd.log</string>
</dict>
</plist>
